.idea/misc.xml
Zad1/chromatic-tree-453017-n1-b301cea342ed.json
Zad1/main.py
Zad1/results/
Zad1/children-per-woman-un.zip
Zad1/children-per-woman-un.csv
Zad1/inflation-of-consumer-prices (1)/inflation-of-consumer-prices.metadata.json
Zad1/inflation-of-consumer-prices (1)/readme.md
Zad1/per-capita-energy-use/readme.md
Zad1/children-per-woman-un/readme.md
Zad1/children-per-woman-un/children-per-woman-un.metadata.json
Zad1/unempl.csv
Zad1/per-capita-energy-use.zip
Zad1/per-capita-energy-use.csv
Zad1/MES_1224.csv
Zad1/inflation-of-consumer-prices.csv
Zad1/inflation-of-consumer-prices (1).zip
Zad1/inflation_energy_children.csv
Zad1/per-capita-energy-use/per-capita-energy-use.metadata.json
Zad1/Global_Mobility_Report.csv
Zad1/global_electricity_production_data.csv
